/* https://fonts.google.com/ */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary-color: rgb(123, 185, 240);
  --container: #ffffff;
  --primary-color-darker: rgb(12, 87, 153);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3 em;
  line-height: 1.5 em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background-color: var(--container);
  padding: 20px;
  border-radius: 10px;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

form button:active {
  background: red;
}

.paragrafo-resultado,
.paragrafo-erro {
  padding: 10px 20px;
  background-color: green;
}

.paragrafo-erro {
  background-color: red;
}
